#body {
    width: 850px;
    margin: 0 auto;
    padding: 30px 30px;
    color: black;
    background-color: #ECE8DD;
}

.section-title {
    margin-top: 30px;
}
.detail {
    font-weight: 600;
    padding: 10px 0px 10px 40px;
}

/* Only used on Staff page. */
.photo-plus-detail {
    display: flex;
}
.photo-plus-detail img { margin-bottom: 20px; }
.photo-plus-detail p { margin-left: 20px; }
#chris-img, #stacy-img { min-width: 188px; min-height: 251px; }
#pastor-img { min-width: 248px; min-height: 315px; }
/* End of Staff styles */

@media only screen and (max-width: 1050px) {
    #body { width: 700px; }
}
/* Screens 530-890px wide */
@media only screen and (max-width: 890px) {
    #body { width: 550px; }
}
@media only screen and (max-width: 700px) {
    #body { width: 80vw; padding: 5vw; }
    .detail { padding: 10px 2vw; }
    .photo-plus-detail { flex-direction: column; align-items: center; }
    .section-title { text-align: center; }
}
