#body {
    width: 850px;
    margin: 0 auto;
    padding: 30px 30px;
    color: black;
    background-color: #ECE8DD;
}

/* only used on Outreach page */
.section-title {
    margin-top: 30px;
}
.detail {
    font-weight: 600;
    padding: 10px 0px 10px 40px;
}

@media only screen and (max-width: 1050px) {
    #body { width: 700px; }
}
/* Screens 530-890px wide */
@media only screen and (max-width: 890px) {
    #body { width: 550px; } */
}
@media only screen and (max-width: 700px) {
    #body { width: 80vw; padding: 5vw; }
    .detail { padding: 10px 2vw; }
}