#body {
    width: 800px;
    margin: 0 auto;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    color: black;
    background-color: #ECE8DD;
}

@media only screen and (max-width: 1050px) {
    #body { width: 700px; }
}
/* Screens 530-890px wide */
@media only screen and (max-width: 890px) {
    #body { width: 550px; } */
}
@media only screen and (max-width: 700px) {
    #body { width: 80vw; padding: 5vw; }
}