* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #162F5C;
}

#title {
    margin: 20px;
    text-align: center;
    color: white;
}

#container {
    margin: 0 auto;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 887px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white;
}
#header-left > img {
    height: 300px;
    width: 222px;
    margin-right: 20px;
}
#header-right {
    padding: 10px;
}
#header-right p {
    text-align: left;
    font-weight: bold;
    border: 15px solid #264980;
    padding: 10px;
}
#header-right-title { margin-bottom: 5px; }
#header-right-text { height: 220px; }

#body {
    width: 995px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: black;
    background-color: #ECE8DD;
    color: black;
}
#body-left {
    min-width: 100px;
    max-width: 250px;
    padding: 10px;

    /* margin-right: auto; */
    text-align: left;
}
#facebook-title {
    text-align: center;
    font-weight: normal;
    padding: 10px;
}
#body-right {
    min-width: 100px;
    max-width: 200px;
    padding: 10px;
    text-align: center;
}
#body-right h2 {
    font-weight: normal;
}

#UCC-logo {
    width: 104px;
    height: 123px;
}

#footer {
    display: flex;
    color: white;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}
#facebook-iframe-460, 
#facebook-iframe-400,
#facebook-iframe-350 { display: none; }

/* Screens 890 - 1050px wide */
@media only screen and (max-width: 1050px) {
    #header { width: 800px; }
    #body { width: 95vw; }
}
/* Screens 530-890px wide */
@media only screen and (max-width: 890px) {
    #header, #body {
        flex-direction: column;
        align-items: center;
    }
    #header { width: 95vw; }
    #body { max-width: 555px; }
    #body-left, #body-right { margin: 50px auto; }
    #header-right-text { height: auto; }
}
/* Screens 460-530px wide */
@media only screen and (max-width: 530px) {
    #facebook-iframe-460 { display: inline; }
    #facebook-iframe, 
    #facebook-iframe-350, 
    #facebook-iframe-400 { display: none; }
}
/* Screens 400-460px wide */
@media only screen and (max-width: 460px) {
    #facebook-iframe-400 { display: inline; }
    #facebook-iframe, 
    #facebook-iframe-350, 
    #facebook-iframe-460 { display: none; }
}
/* Screens 350-400px wide */
@media only screen and (max-width: 400px) {
    #facebook-iframe-350 { display: inline; }
    #facebook-iframe, 
    #facebook-iframe-400,
    #facebook-iframe-460 { display: none; }
}

/* Collapsed (Hamburger) NAVBAR */
.hamburger-navigation ul {
    list-style-type: none;
    position: absolute;
    width: 100vw;
    top: -400px;
    transition: all .5s ease;
}
#ham-nav:checked~ul {
    top: 58px;
}
#ham-nav {
    display: none;
}
.hamburger-menu-icon {
    position: relative;
    display: none;
    /* align-items: flex-end; */
    text-align: right;
    padding: 5px 20px;
    background-color: #333;
    color: #fff;
    z-index: 999;
    font-size: 2.2rem;
    cursor: pointer;
    height: 49px;
}
.hamburger-navigation li {
    background-color: #333;
    color: white;
    padding: 5px;
    padding-left: 4em;
}

@media only screen and (min-width: 880px) {
    #ham-nav, .hamburger-menu-icon, #ham-nav:checked~ul {
        display: none;
    }
}
@media only screen and (max-width: 880px) {
    .hamburger-menu-icon {
        display: flex;
    }
    .nav {
        display: none;
    }
}
@media only screen and (max-width: 530px) {
    /* #ham-nav:checked~ul { top: 48px; } */
}

/* Standard NAVBAR */
.nav {
    background-color: #333;
    /* padding: 20px 0; */
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a:hover, .dropdown:hover {
    background-color: #3668FF;
}

.nav a, .hamburger-navigation a {
    text-decoration: none;
    color: white;
}
.nav a { padding: 20px; }
.nav .dropbtn a { padding: 0; }

.active {
    background-color: blue;
}

/* DROPDOWN on NAVBAR */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    background-color: #333;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #3668FF;
}

.dropdown:hover .dropdown-content {
    display: block;
}
